:root {
    --primary: darkblue;
    --secondary: white;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--primary);
    color: var(--secondary);
    position: relative;
}

h1 {
    display: inline-block;
    font-size: 48px;
}


header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-flex;
    margin-left: 25px;
    
}

a {
    color: var(--secondary);
    text-decoration: none;
}

p {
    font-size: 16px;
    padding: auto;
}

#geneGrove {
 
    height: 2000px;
    width: 100vw;
    margin-bottom: 25px;
   
    background-image: url("./Image\ of\ Me.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
    float: right;
    position: relative;
}


.page-sections {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--primary);
    color: var(--secondary);
    position: relative;
    flex-wrap: wrap;
    
}


.page-sections h2 {
    margin-bottom: 20px;
}


footer {
    padding: 30px;
    clear: both;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

#projects-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;

}

.myProjects {
    /* position: absolute; */
    color: var(--primary);
    border: 5px solid var(--primary);
    margin: 10px;
    padding-top: 30px;
    border-radius: 15px;
    justify-content: center;
}

#project1 {
    width: 100%;
}

.card-header {
    z-index: 1;
    color: var(--secondary);
    border: 1px solid;
    margin: -40px -10px 0;
    position: relative;
    background-color: var(--primary);
    justify-content: left;

}

#coolWebsite {
    height: auto;
    width: 100%;
    margin: auto;
    position: relative;
}

.project-photos {
    max-height: 400px;
    position: relative;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {

    #projects-container {
        flex-direction: column;
        width: 50%;
    }

    .project-photos {
        flex-direction: column;
        width: auto
    }
}